@font-face {
    font-family: 'Tajawal';
    src: url('../fonts/tajawal/Tajawal-Regular.ttf') format('truetype'),local('Tajawal');
}


Html , body{
font-family: Tajawal, sans-serif, Tahoma, Times, serif;
direction: rtl;
text-align: right;

}
